@font-face {
  font-family: "Acme";
  src: url(./fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: "IBMPlex";
  src: url(./fonts/IBMPlexSans-Regular.ttf);
}

html, body {
  height: 100%;
  width: 100%
}

.App {
  text-align: center;
  height: 200vh;
  width:  100vw;
  position: relative; 
  background: #00BFF3;
  overflow: hidden;
}

.mainPage {
  width: 50%;
  height: 100%;
  float: left;
  transition: all 1s ease-out;
  overflow: hidden;
  position: relative;
  z-index: 3;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mainPage--left{
  background: #FFE400;
  font-family: "Acme" !important;
}


#particleBackground {
    position:fixed !important;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    z-index: -1;
}

.introduction {
  margin: auto; 
  padding-top: 60px;
  padding-left: 20px;

}

.nameTitle {
  font-size: 100px;
  padding-top: 150px;
  color:#0000CC;
  text-align: center;
}

.aboutMe {
  font-size: 30px;
  color: #9C1A00;
  text-align: center;
  padding-left: 20px;
}


.mainPage--left.openPage {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.mainPage--right {
  background: #FFE400;
}

.mainPage--right.openPage {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.profile {
  display: block;
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.secondPage {
  z-index: 2;
  width: 100%;
  height: 100%;
  text-align: left;
  position: fixed;
  margin: 0;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: scroll;
  box-sizing: border-box;
}

.secondPage > *{
  width: 100%;
}


.lastPage {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: fixed;
  transition: all 1s ease-out;
  z-index: 3;
}

.lastPage--right.closePage, .lastPage--left.closePage{
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.lastPage--right{
  background: #B1BBF8;
  margin-left: 50%;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.lastPage--left{
  background:#B1BBF8;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

/* Form Styling */
.form h1, h2{
  font-size: 45px;
  font-family: "Acme";
}

.form{
  font-size: 25px;
  font-family: "IBMPlex";
  padding-left: 70px;
  text-align:left
}

/* Textbox Styling */
